<header>
  <mat-toolbar class="text-bg-primary">
    <span class="ps-4">Currency Application</span>
  </mat-toolbar>
  <table class="table table-info">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">UAH</th>
        <th scope="col">USD</th>
        <th scope="col">EUR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Currencies:</th>
        <td>1 UAH</td>
        <td>2 USD</td>
        <td>3 EUR</td>
      </tr>
    </tbody>
  </table>
</header>