.customn-toolbar{
    background-color: rgb(97, 68, 184); 
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.container{
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20pX;
}